[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
dj-database-url = "*"
django-cors-headers = "*"
pillow = "*"
whitenoise = "*"
django-cloudinary-storage = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-mail = "*"
django-q = "*"
django = "==3.2"

[dev-packages]

[requires]
python_version = "3.9"
